*
{
margin: 0px;
padding: 0px;
}

a:link {
	color: #A5A9B2;
}

a:hover {
	text-decoration: none;
	color: #FF0000;
}

a:visited {
	color: #A5A9B2;
}

body {
	
	background: #522900;
	font: 13px Arial, Helvetica, sans-serif;
	color: #000000;
}

#content
{
	margin: 0 auto;
	width: 917px;
	text-align: left;
}

#main
{
width: 857px;
background: url(images/back_top.jpg) no-repeat top;
padding: 30px;
padding-top: 10px;
}

#back
{
width: 917px;
background: url(images/table_back.gif) repeat-y
}

#header {
	height: 376px;
	text-align: right;
	background: url(images/header.jpg) no-repeat;		
}

#logo {
width: 897px;
height: 108px;
text-align: left;
padding-top: 220px;
padding-left: 20px;

	text-decoration: none;
	font-style: italic;
	font-size: 15px;
	color: #C66210;
}

#logo_img {
	background: url(images/logo.png) no-repeat;
	width:500px;
	height:170px;
	margin-left:20px;
	margin-top:-50px;
}

#logo H1
{
position:absolute;
top:240px;
left:410px;
font-size: 25px;
font-weight: normal;
color: #422209;
}

#logo H2
{
position:absolute;
top:270px;
left:420px;
font-size: 18px;
font-weight: normal;
color: #422209;
}


#menu
{
width: 100%;
height: 48px;
padding-left:20px;
background: url(images/buttons.gif) no-repeat;
}

#menu ul {
	list-style: none;	
}

#menu li {
	
	display: inline; 
	
}

#menu a {
	float: left;
	width: 120px;
	height: 32px;
    display: block;
	text-align: center;
	text-decoration: none;
	color: #b1570d;
	font-weight: bold;
	font-size: 13px;
	padding-top: 15px;
	
}

#menu a:hover {
	width: 120px;
    height: 32px;
	color: #422209;
	
}

.right
{
	font-weight:bold;
	text-align:right;
}

#main H4
{
	margin: 0;
	padding: 0px;
}

#main a
{
color: #C66210;
text-decoration: none;
}

#main p {
	margin: 5px;
	padding: 0;
	padding-bottom: 10px;
}

#main h2 {
	margin: 0;
	padding: 0;
	padding: 10px 0 10px 0;
	color: #C66210;
}

#main ul {
	padding:0px 0 10px 30px;
	list-style-image: url(images/dot.gif);
}

.alert {
	color:red;
	font-weight: bold;
}
.podkresl {
	text-decoration: underline;
}

.big {
	color: #422209;
	font-size: 17px;
	font-weight: bold;
}

table {
	
	width:500px;
	padding-left:20px;
	
}

#footer {
	height: 54px;
	clear: both;
	padding-top: 20px;
	border-top: 5px solid #FEFA8B;
	margin-left: 5px;
	margin-right: 5px;
	background: url(images/footer.gif) repeat-x top;
}

#footer p {
	margin: 0;
	font-size: 11px;
	text-align: center;
	color: #333333;
}

#footer a {
	color: #333333;
}
