* {
    padding: 0;
    margin: 0;
}
body {
	background: grey; padding:30px; font-size:15px; font-family: Arial;
}
#strona {
	width:900px; background: #fff; border:1px solid #000;  padding:30px;
}
hr {
	color:#bfbfbf;
}
.info {
	width:100%; background: #d9d9d9; margin-bottom:10px;
}
.info_top {
	color:#fff; background: #808080; padding:3px; font-weight:bold; padding:2px 0 2px 3px;
}
.info_left {
	width:200px; background: #e3e3e3; padding:2px 0 2px 3px;
}
.info_right {
	background: #fff; padding:2px 0 2px 3px;
}

.info {
	width:100%; margin-bottom:10px;
}
.alerts_info {
	width:230px; font-weight:bold; padding-bottom:5px;
}
.alerts_ile {
	width:50px; text-align: center; padding-bottom:5px;
}

.alerts_img {
	padding-left:12px;
}
.alerts_graf1 {
	background:#ff0000; color:#ff0000;
}
.alerts_graf2 {
	background:#f28a00; color:#f28a00;
}
.alerts_graf3 {
	background:#2b66c7; color:#2b66c7;
}
.alerts_grafi {
	background:#2e942e; color:#2e942e;
}

.alert_hight {
	font-weight:bold; color:#ff0000;
}
.alert_medium {
	font-weight:bold; color:#f28a00;
}
.alert_low {
	font-weight:bold; color:#2b66c7;
}
.alert_inf {
	font-weight:bold; color:#2e942e;
}


.list {
	border-bottom: 1px solid #808080; border-top: 1px solid #808080; width:100%;
}

.list_name {
	font-weight:bold;
}
.list_menu {
	background: #e3e3e3; padding:2px 2px 2px 5px; width:100px;
}

.lista{
	padding:2px 0 2px 5px; border:1px solid #d9d9d9; color: blue;
}
.lista_ile{
	text-align: center; border:1px solid #d9d9d9;
}

.alert_img {
	padding-right:10px;
}



.alert_top_img {
	width:30px;
}
.alert_top_title {
	font-weight: bold;
}

.alert {
	width:100%; margin:10px 0 10px 0; background: #d9d9d9;
}
.alert_1 {
	width:150px; background: #e3e3e3; padding:2px 0 2px 3px;
}
.alert_2 {
	background: #fff; padding:2px 0 2px 3px;
}

.infected {
	width:100%; margin:1px 0 0 0; background: #d9d9d9;
}
.infected_1 {
	font-weight: bold; background: #bfbfbf; padding:4px 0 4px 5px;
}
.infected_2 {
	background: #e3e3e3; padding:2px 0 2px 3px;
}
.infected_3 {
	background: #fff; padding:2px 0 2px 3px;
}


.detal_title {
	text-transform: uppercase; padding:3px 0px 5px 0px; font-weight: bold; font-size:11px;
}
h4 {
	padding-top: 15px;
}
.blad {
	padding-bottom: 15px;
}
.error_color {
	color: #8B0000; font-weight: bold;
}